@import "tailwindcss";

:root {
  --background: linear-gradient(to top left, #aee2ff, #d0f0ff, #fff6d5);
}

@theme inline {
  --color-background: var(--background);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  font-family: 'Inter', sans-serif;
}